<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-footer.css') }}?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}?cache_id={{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}?cache_id={{ cache_id }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}?cache_id={{ cache_id }}" />
    <title>HBnB</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="static/scripts/2-hbnb.js?{{ cache_id }}"></script>
  </head>

<body>
    <header>
      <div class="logo"></div>
      <div id="api_status" class="circle"></div>
    </header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
              {% for state in states %}
              <li>
                <h2>{{ state[0].name }}:</h2>
                <ul>
                  {% for city in state[1] %}
                  <li>{{ city.name }}</li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
              {% for amenity in amenities %}
              <li>
                      <input type="checkbox" data-id={{ amenity.id }} data-name={{ amenity.name }}>
                      {{ amenity.name }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
          <section class="places">
            <h1>Places</h1>
            <article>
                <h2>My Home</h2>
                <div class="price_by_night">
                    $80
                </div>
                <div class="information">
                    <div class="max_guest">
                        2 Guests
                    </div>
                    <div class="number_rooms">
                        1 Bedroom
                    </div>
                    <div class="number_bathrooms">
                        1 Bathroom
                    </div>
                </div>
                <div class="user">
                    <b>Owner:</b> Johnny
                </div>
                <div class="description">
                    <p> This is a lovely 1 bedroom and 1 bathroom apartment that
                        can accommodate 2 people. It locates at the center of
                        Shanghai and next to subway line 1,1 stop to People
                        Square, 2 stops to Bund,  3 stops to Jingan Temple.
                    </p>
                </div>
            </article>
            <article>
                <h2>Tiny House</h2>
                <div class="price_by_night">
                    $65
                </div>
                <div class="information">
                    <div class="max_guest">
                        4 Guests
                    </div>
                    <div class="number_rooms">
                        2 Bedroom
                    </div>
                    <div class="number_bathrooms">
                        1 Bathroom
                    </div>
                </div>
                <div class="user">
                    <b>Owner:</b> Adrienne
                </div>
                <div class="description">
                    <p> Our place is a private, affordable stand-alone guest
                        house centrally located just minutes to French
                        Quarters, downtown, the Fair Grounds(Jazz Fest) and
                        City Park. The guest house is a quaint, 400 square ft.
                        with a full bath, mini kitchen, & living room. The
                        extra high ceilings make the home feel more spacious.
                        The sofa converts to a bed also. We have a hand made counter
                        area that adds character to the room and a great
                        porch/deck to relax on and have a glass of Merlot.
                    </p>
                </div>
            </article>
            <article>
                <h2>A suite</h2>
                <div class="price_by_night">
                    $190
                </div>
                <div class="information">
                    <div class="max_guest">
                        4 Guests
                    </div>
                    <div class="number_rooms">
                        4 Bedroom
                    </div>
                    <div class="number_bathrooms">
                        3 Bathroom
                    </div>
                </div>
                <div class="user">
                    <b>Owner:</b> Lue
                </div>
                <div class="description">
                    <p> This is a premium quality room located in the
                        most important area of New York. It is close to downtown
                        commerces and has a beatiful sight of central park.
                        You will have all the amenities you desire and will
                        definitely enjoy a great time.
                        By yourself, with your lover, or your family, you will
                        feel luxury from top to bottom.
                    </p>
                </div>
            </article>
        </section>
    </div>
</body>
</html>

